<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}?cache_id={{ cache_id }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function remove_from_db(cart_id) {
            fetch('/remove_item/' + cart_id, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Item removed from cart successfully') {
                    location.reload();
                } else {
                    console.error(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function add_to_db(name, val, img) {
            fetch('/add_to_cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ item: name, price: val, image: img })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Item added to cart successfully') {
                    location.reload();
                } else {
                    console.error(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <header>
        <div class="logo"></div>
        <section class="navbar">
            <ul class="navbarContent">
                <li><a href="/menu">Menu</a></li>
                <li><a href="/user"><i class="fa-solid fa-user"></i>Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </section>
    </header>
    <div class="cart_menu">
        <div class="content">
            {% for item_name, item_data in grouped_carts.items() %}
            <div class="product">
                <img src="{{ url_for('static', filename=item_data.details.image) }}" alt="{{ item_name }}" class="image">
                <div class="item-content">
                    <h2 class="item">{{ item_name }}</h2>
                    <h6 class="price">Ksh{{ item_data.details.price }}</h6>
                    <button class="cart" onclick="remove_from_db('{{ item_data.details.id }}')">-</button>
                    <p class="num-item">Quantity: {{ item_data.count }}</p>
                    <button class="cart" onclick="add_to_db('{{ item_name }}', '{{ item_data.details.price }}', '{{ item_data.details.image }}')">+</button>
                </div>
            </div>
            {% endfor %}
            <div class="amnt">
                <h3>Subtotal: Ksh{{ total_price }}</h3>
            </div>
        </div>
    </div>
    <div class="payment_menu">
        <div class="mpesa_image">
            <img src="{{ url_for('static', filename='images/mpesa.png') }}" alt="mpesa_logo">
        </div>
        <div class="form">
            <form action="/payment" method="post">
                <label for="phone">Phone Number:</label>
                <input type="number" name="phone" required placeholder="Please Enter your Phone number" class="pay"><br>
                <label for="name">First Name :</label>
                <input type="text" name="name" required placeholder="Please Enter your name" class="pay"><br>
                <input type="hidden" name="amount" value="{{ total_price }}">
                <button type="submit" class="payButton">Checkout</button>
            </form>
        </div>
    </div>
</body>
</html>