<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/item.css') }}?cache_id={{ cache_id }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    $(document).ready(function() {
      {% if user %}
      const temp = '<li><a href="/cart" class="iconz" id="cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>';
      $('#log').parent().replaceWith(temp);
      const greet = '<li><a href="/user" class="iconz" id="user"><i class="fa-solid fa-user"></i>Hi {{ user.name }}</a></li>'
      $('#home').parent().replaceWith(greet)
      {% else %}
      const temp_but = '<button id="addtocart" class="cartButton" onclick="window.location.href=\'/\'">Add to cart<i class="fa-solid fa-cart-shopping"></i></button>'
      $('#addtocart').parent().replaceWith(temp_but)
      {% endif %}
    });

    function checkitem(stock_id) {
      window.location.href = '/checkitem/' + stock_id;
    }

    function to_cart() {
      window.location.href = '/cart';
    }

    document.addEventListener('DOMContentLoaded', function() {
      const addtocart = document.getElementById('addtocart');
      const removefromcart = document.getElementById('removefromcart');

      addtocart.addEventListener('click', async function(e) {
        e.preventDefault();
        const item_name = document.querySelector('.item_name').textContent.trim();
        const value_price = document.querySelector('.value').textContent.trim();
        const value = parseFloat(value_price.replace('Ksh', "").replace('.00', ""));
        const image_path = document.querySelector('.item-image').src.trim();
        const image = image_path.split('/static/')[1];
        const response = await fetch('/add_to_cart', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({item: item_name, price: value, image: image}),
        });
        if (response.ok) {
          const data = await response.json();
          const cart_id = data.cart_item;
          addtocart.style.display = 'none';
          removefromcart.style.display = 'inline-block';
          removefromcart.dataset.cartId = cart_id;
        }
      });

      removefromcart.addEventListener('click', async function(e) {
        e.preventDefault();
        const cart_id = removefromcart.dataset.cartId;
        const response = await fetch('/remove_item/' + cart_id, {
          method: 'DELETE',
          headers: {'Content-Type': 'application/json'},
        });
        if (response.ok) {
          addtocart.style.display = 'inline-block';
          removefromcart.style.display = 'none';
        }
      });
    });
  </script>
</head>
<body>
<header>
  <div class="logo"></div>
  <section class="info">
    <ul class="navbar">
      <li>
        <a href="/" id="home"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li><a href="/menu"><i class="fa-solid fa-backward"></i>Back To Menu</a></li>
      <li><a href="/login" class="icn" id="log">Login</a></li>
    </ul>
  </section>
</header>
<div class="itemdisplay">
  <img src="{{ url_for('static', filename=stock.image) }}" alt="{{ stock.product }}" class="item-image" />
  <div class="item_info">
    <p class="item_name">{{ stock.product }}</p>
    <p class="description">{{ stock.description }}</p>
    <p class="value" style="color: #d5b23d;">Ksh{{ stock.value }}.00</p>
    <button id="addtocart" class="cartButton">Add to cart<i class="fa-solid fa-cart-shopping"></i></button>
    <button id="removefromcart" class="cartButton" style="display: none">Remove from cart</button>
    <button id="checkout" class="cartButton" onclick="to_cart()">Checkout</button>
  </div>
</div>
<div class="content">
  {% for stockz in stocks %}
  {% if stock.id != stockz.id %}
  <div class="product">
    <img src="{{ url_for('static', filename=stockz.image) }}" alt="{{ stockz.product }}" class="image" />
    <h2>{{ stockz.product }}</h2>
    <p>{{ stockz.description }}</p>
    <h6>ksh{{ stockz.value }}</h6>
    <p>{{ stockz.category }}</p>
    <button class="cartButton cart" onclick="checkitem('{{ stockz.id }}')"><i class="fa-solid fa-cart-plus"></i></button>
  </div>
  {% endif %}
  {% endfor %}
</div>
</body>
</html>